.navbar--title-main{
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 14px;
	color: #ffffff; 
}

aside{
	text-align: center;
	background-color: #313335;
	margin-top: -20px;
	position: absolute;	
}


.LI-profile-badge{
	margin: 35px auto;
	box-shadow: 3px 2px 8px 2px #000000;
}

#address{
	color: #ffffff;
	text-align: right;
	margin:35px auto;
	padding: 10px;
	box-shadow: 3px 2px 8px 2px #000000;
}

#map{
	
	height: 250px;
	margin: auto;
	box-shadow: 3px 2px 8px 2px #000000;
}

.caption{
	text-align: center;
	color: darkgreen;
	align-items: center;
	align-self: auto;
}

body{
	margin: 0%;
}

.container-fluid{
	margin-top: 80px;
}